<table class="doc-table">
    <thead>
        <tr>
            <th>
                <span class="return-type">{{.ReturnType}}</span> <span class="function-name">{{.FunctionName}}</span>({{.FunctionParamsStr}}){{.BadgeHTML}}
            </th>
        </tr>
    </thead>
    <tbody>{{- if .Description}}
        <tr>
            <td>
                {{.Description}}
            </td>
        </tr>{{- end}}{{- range .Params}}{{- if .Description}}
        <tr class="param-row">
            <td>
                <code class="param-name">{{.Name}}</code>
                <span class="param-desc"> &nbsp;|&nbsp; {{.Description}}</span>
            </td>
        </tr>{{- end}}{{- end}}
    </tbody>
</table>