<table class="doc-table">
    <thead>
        <tr>
            <th>
                <span class="return-type">{{.ReturnType}}</span> <span class="function-name">{{.FunctionName}}</span>({{.FunctionParamsStr}}){{.BadgeHTML}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{.Description}}
            </td>
        </tr>
        {{range .Params}}
        <tr class="param-row">
            <td>
                <code class="param-name">{{.Name}}</code>
                <span class="param-desc"> &nbsp;|&nbsp; {{.Desc}}</span>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>