.doc-table {
    width: 100%;
    border-collapse: collapse;
    border-color: #ccc;
    border-spacing: 0;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 16px; /* template의 <br> 태그를 대체합니다. */
}

.doc-table th {
    background-color: #f0f0f0;
    border: none;
    color: #333;
    overflow: hidden;
    padding: 10px 5px;
    text-align: left;
    vertical-align: top;
    word-break: normal;
}

.doc-table .return-type {
    color: #3167ad;
}

.doc-table .function-name {
    font-weight: bold;
}

/* 파라미터 타입을 위한 스타일 */
.doc-table .param-type {
    color: #3167ad;
}

/* 파라미터 타입 링크 스타일 */
.doc-table a.param-type {
    text-decoration: none;
    color: #3167ad;
}
.doc-table a.param-type:hover {
    text-decoration: underline;
}


.doc-table td {
    background-color: #fff;
    border: none;
    color: #333;
    overflow: hidden;
    padding: 10px 5px;
    text-align: left;
    vertical-align: top;
    word-break: normal;
}

.doc-table .param-row td {
    background-color: #fafafa;
    border-top: 1px solid #eee;
    padding: 10px 5px 10px 15px;
}

.doc-table .param-name {
    background-color: #e1e4e8;
    padding: 2px 5px;
    border-radius: 4px;
    font-family: monospace;
}

.doc-table .param-desc {
    color: #57606a;
}